.App {
  text-align: center;
  background-color: rgb(27, 27, 27);
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1f5edd;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: 10% 90%; */
  
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}



/* .Body {
  display: grid;
  justify-content: center;
} */
.AddNew {
  display: grid;
  justify-content: center;
}
.view {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  border: 10px solid white;
  margin: 10px;
  background-color: rgb(93, 142, 182);


}
.newcontact{
  background-color: rgb(93, 142, 182);
  width: 300px;
}

.person {
  margin: 10px;
  border: 5px solid green;
  border-radius: 5px;
  min-width: 300px;
}

.inputBlock {
  margin: 10px 10px 10px 0px;
  text-align: center;
  border: 5px solid rgb(11, 69, 230);
}

Form {
  margin: 10px;
  border: 10px solid white;
}

button {
  background-color: rgb(61, 26, 35);
  color: white;
}

.search {
  border: 5px solid green;
  background-color: white;
}